.ce-paragraph {
    line-height: 1.6em;
    outline: none;
}

.ce-paragraph[data-placeholder]:empty::before{
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before {
  opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty:focus::before {
  opacity: 0;
}

.ce-paragraph p:first-of-type{
    margin-top: 0;
}

.ce-paragraph p:last-of-type{
    margin-bottom: 0;
}

.codex-editor__redactor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ce-block {
  flex: 0 0 100%; /* Set full width for non "column-ed" blocks. */
}
.ce-block.column {
  flex: 1;
  max-width: 325px; /* Set max-width to half of origional value so that combined width aligns */
}
.ce-block.column:not(:first-child) {
  margin-left: 10px; /* Add a gutter between columns */
}

/**
  * Add a placeholder to empty content editable divs
  * @link https://stackoverflow.com/a/56704079
  */
[contentEditable=true][data-placeholder]:empty::before {
  content: 'Start typing...';
  position: absolute;
  color: gray;
  background-color: transparent;
  opacity: 1 !important; /* Override editorjs */
}